@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

@import "./reset.css";
@import "./root.css";



.none {
    display: none;
}

.error-input {
  background-color: red;
}

body {
  font-family: 'Roboto';
    background-color: var(--bg-color);
    color: var(--text-color);
}

.wrapper {
    margin: 0 auto;
    max-width: 1050px;

}

.upward-btn {
    position: fixed;
    right: 20px;
    bottom: 60px;
    width: 50px;
    height: 50px;
    background: var(--arrow-up-url)

}


.header {
    position: sticky;
    top: 0;
    min-height: 100px;
    margin-bottom: 100px;
    padding: 10px 20px;
    background-color: var(--header-bg-color);
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header__title {
  font-weight: 700;
    font-size: 36px;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }

  .input {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;

    appearance: none;

  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9bb9e2;
    transition: .4s;
    border-radius: 30px;    
  }
  

  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
    pointer-events: none
  }
  
  .moon{
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
    pointer-events: none
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 2px #2c285b;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
    background-color: #82a3bb;
  }

.menu__list {
    display: flex;
    justify-content:space-between;
    gap: 20px;

    margin: 0 auto;
    max-width: 1050px;


}

.footer {
    min-height: 50px;
    padding: 10px 20px;
    background-color: var(--header-bg-color);
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar{
  width: var(--scrollbarWidth);
}
body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track{
  background: var(--scrollbarBg);
  border-radius: var(--scrollbarBorderRadius);
}
body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb{
  background-color: var(--scrollbarThumb);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);
}